@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500;600&family=Josefin+Sans:ital,wght@0,500;0,700;1,300&family=Quicksand:wght@300;500;700&display=swap");



:root{
    --primary: #201f1b;
    --secondary: #71736c;
    --terciary: #9a9d95;
    --quartiary: #DEE1DE;
    --quintiary:#fafaff;

    --brackground1: #f0f0f0;
    --brackground2: #e2e8e4;
    --brackground3: #c5ddbe;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 16px;
} */

body {
  font-family: "Dosis", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  background-color: var(--brackground2);
}
/* ----------------------- HEADER ----------------------------------- */
.header{
  width: 100%;
  height: 600px;
  background-color: tomato;
  padding: 10px;
}

/* ----------------------------- NAV BAR ---------------------------------- */
.nav {
  background-color: var(--brackground1);
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  flex-wrap: wrap;

}

.nav__logo {
  width: 15rem;
  height: 4.5rem;

}

.nav__logo--image {
  width: 100%;
  height: 100%;

}

.nav__menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  list-style: none;

}

.nav_section a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary);
  transition: 0.5s;

}

.nav_section a:hover {
  font-weight: bold;
  border-bottom: 0.1rem solid var(--primary);

}


/* MENU DERECHO */
/* USUARIO */
.lastMenu {
  width: 12rem;
  display: flex;
  margin: 5px;

}

.user {
  width: 14rem;
  display: flex;

}

.user__avatar {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;

}

.user__avatarButton {
  width: 100%;
  height: 90%;
  background-image: url(/Ingles/Home/logos/usuario.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;

}

.user__menu {
  width: 8%;
  margin: 0 auto;
  display: none;
  position: absolute;
  background-color: var(--brackground1);
  font-size: 1rem;
  color: var(--primary);
  z-index: 1;
  border-radius: 15px;

}

.user__menuOption {
  display: block;
  text-decoration: none;
  padding: 1rem;
  color: var(--primary);

}

.user__avatar:hover+.user__menu {
  top: 4rem;
  display: block;

}

.user__menu:hover {
  display: block;
  top: 4rem;

}

.user__menuOption:hover {
  font-weight: bold;

}

/* IDIOMA */
.language {
  width: 23rem;
  display: flex;

}

.language__option {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;

}

.language__optionButton {
  width: 100%;
  height: 90%;
  background-image: url(/Ingles/Home/logos/mundo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;

}

.language__menu {
  width: 5%;
  margin: 0 auto;
  display: none;
  position: absolute;
  background-color: var(--brackground1);
  font-size: 1rem;
  color: var(--primary);
  z-index: 1;
  border-radius: 15px;
  box-shadow: 8px 9px 13px 0px rgba(244, 242, 242, 0.2);

}

.language__menuOption {
  display: block;
  text-decoration: none;
  padding: 1rem;
  color: var(--primary);
  transition: transform 0.5s;

}

.language__menuOption:hover {
  transform: scale(1.5);

}

.language__option:hover+.language__menu {
  top: 4rem;
  display: block;

}

.language__menuOption img {
  width: 30px;

}

.language__menu:hover {
  display: block;
  top: 4rem;

}



/* ------------------- SLIDER - CAROUSEL ----------------------- */

.slider {
  width: 100%;
  height: 55.5rem;
  background-color: red;
}

.slide {
  width: 100%;
  height: 100%;
}

.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------- SEARCH BAR ---------------------------  */
.searchBar{
  margin-top: 5rem;
  width: 100%;
  height: 4rem;
  /* background-color: red; */
}


.searchBar input{
  display: block;
  margin: 10rem auto;
  width: 40rem;
  height: 80%;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  font-size: 1.5rem;
}

/* --------------- MAIN -----------------  */
.main{
  margin-top: 3rem;
  width: 100%;
  max-height: 600rem;
  /* background-color: slateblue; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* -------------- FILTERS ----------------------  */

.filters{
  width: 26.5rem;
  height: 71rem;
  background-color: var(--brackground3);
  border: 1px solid var(--primary);
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.filters__item{
  margin: 0 auto;
  width: 90%;
  font-size: 1.5rem;
  border-bottom: 0.1rem solid var(--secondary);
}

.filters__item h3, label, input{
  margin: 1rem 0 1.5rem 1rem;
}

.filters__item--region .option{
  display: flex;
  /* background-color: steelblue; */
  margin: 0;
}

.filters__item--region label, input{
  margin: 0.5rem;
}

.filters__item select{
  /* background-color: red; */
  margin-bottom: 2rem;
  margin-left: 2rem;
  width: 60%;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid var(--secondary);
}

.filters__img{
  width: 3rem;
  /* background-color: red; */
}

.filtersButton{
  width: 60%;
  height: 15%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  gap: 1rem;
}

.filtersButton__button{
  /* padding: 1rem; */
  height: 40%;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--quintiary);
  border: none;
}

.filtersButton__button:hover{
  cursor: pointer;
  background-color: var(--brackground3);
  border: 0.1rem solid var(--primary);
  color: var(--primary);
}
/* ----------------------- CARDS ----------------------- */
.cardsContainer{
  width: 75%;
  /* min-height: 100%; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  /* background-color: tomato; */
}

.card{
  min-width: 5rem;
  height: 35rem;
  background-color: var(--brackground1);
  border-radius: 5px;
  padding-bottom: 0.1rem;
  margin-bottom: 3rem;
  border: 0.1rem solid var(--terciary);
}

.card__image{
  width: 100%;
  height: 40%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  /* background-color: lightseagreen; */
  object-fit: cover;
}

.card__title{
  font-size: 1.6rem;
  text-decoration: underline;
  color: var(--primary);
  margin: 0.5rem 0 1rem 1.5rem;
  /* background-color: blueviolet; */
}

.card__title:hover{
  cursor: pointer;
}

.card__title i {
  margin-left: 7rem;
  font-size: 3rem;
}

.cardInfo{
  width: 80%;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
  /* background-color: lightseagreen; */
}

.cardInfo__list{
  list-style: none;
}

.cardInfo__list-item{
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.card__button{
  width: 40%;
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  display: block;
  margin: 2rem auto;
  padding: 1rem 0;
  background-color: var(--primary);
  color: var(--quintiary);
}

.card__button:hover{
  border: 0.1rem solid var(--primary);
  background-color: var(--brackground1);
  color: var(--primary);
}

/* ----------------- PAGINATION ----------------------------- */

.pagination {
  margin: 5rem auto;
  width: 40%;
}

.pagination ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.pagination ul li {
  display: inline;
}

.pagination ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  background-color: var(--brackground3);
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
}

.pagination ul li a:hover {
  background-color: var(--brackground2);
}

.pagination ul li .active {
  background-color: var(--brackground2);
}



/* --------------- FOOTER -------------------------------------- */

/*  FOOTER */
.footer {
  background-color: var(--brackground3);
  color: var(--secondary);
  text-align: center;
  padding: 20px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.footer__contentInfo a,
.footer__contentAboutUs a {
  color: var(--secondary);

}

.footer__contentInfo,
.footer__contentAboutUs {
  display: flex;
  flex-direction: column;
}

.social-icon {
  display: block;
  color: var(--secondary);
  text-decoration: none;
  margin: 5px;
}

.about-us-link {
  display: block;
  color: var(--secondary);
  text-decoration: none;
  margin: 5px;
}

.about-us-link:hover {
  text-decoration: underline;
  /* Subraya el enlace al pasar el mouse por encima */
}

.footer__logo {
  margin-top: 50px;
}

/* ------- RESPONSIVE -------------------------- */

/* Inhabilitar el menu de hamburguesa en versión computador */
.movil {
  display: none;
}


.network {
  display: none;
}



@media screen and (max-width: 768px) {
  /* Ocultar el primer video de publicidad */
  #video1 {
      display: none;
  }

  .container {
      display: flex;
      flex-direction: column;
  }
  
  .nav {
      display: none;
  }

  .movil {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      background: var(--brackground2);
  }
  
  .nav__logo img {
      height: 70%;
      width: 70%;
      display: flex;
      justify-content: center;
      margin-left: 20%;
  }


  #menuToggle {
      display: block;
      position: absolute;
      top: 3rem;
      left: 3rem;
      background: var(--brackground2);
      z-index: 1;
      
      -webkit-user-select: none;
      user-select: none;
  }
  
  #menuToggle a {
      text-decoration: none;
      color: #232323;
      
      transition: color 0.3s ease;
  }
  
  #menuToggle a:hover {
      color: var(--quintiary);
      text-shadow: 0.2rem 0.2rem 0.4rem rgba(9, 9, 9, 0.308);

  }
  
  #menuToggle input {
      display: block;
      width: 4rem;
      height: 5.2rem;
      position: absolute;
      top: -0.7rem;
      left: -0.5rem;
      cursor: pointer;
      opacity: 0; /* ocultar esto */
      z-index: 2; /* y colócalo sobre la hamburguesa */
      -webkit-touch-callout: none;
  }
  
  /* Solo una hamburguesa rápida */
  #menuToggle span {
      display: block;
      width: 3rem;
      height: 0.4rem;
      margin-bottom: 0.5rem;
      position: relative;
      background: var(--primary);
      border-radius: 0.3rem;
      z-index: 1;
      transform-origin: 0.4rem 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      background: 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
      transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%;
  }
  
  /* Transforma todas las barras de hamburguesa en una marca de verificación. */
  #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
  }
  
  /* Pero ocultemos la barra del medio. */
  #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /* Y la última debería ir en la otra dirección. */
  #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
  }
  
  /* Colócalo en la parte superior izquierda de la pantalla */
  #menu {
      position: absolute;
      width: 250px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      background: var(--brackground2);
      border-radius: 12px;
      box-shadow: 8px 9px 13px 0px rgba(8, 8, 8, 0.5);
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* para evitar el parpadeo del texto en Safari */
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li {
      padding: 10px 0;
      font-size: 22px;
  }
  
  /* Y deslicémoslo desde la izquierda. */
  #menuToggle input:checked ~ ul {
      transform: none;
  }

   /* PANEL REDES DERECHO FIJO */
   .network {
    position: fixed;
    top: 50%;
    /* Alinea verticalmente en la mitad de la ventana */
    left: 0;
    transform: translateY(-50%);
    /* Corrige la alineación vertical */
    background: #73a646;
    /* Color de fondo con transparencia */
    border: 4px solid  #73a646;
    /* Borde de 2px de color rojo */
    border-radius: 10px;
    /* Bordes redondeados de 10px */
    width: 10%;
    /* Ancho de la barra */
    height: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* Espacio interior para los iconos */
    box-shadow: 8px 9px 13px 0px rgb(26, 23, 23, 0.5);

}

.network div{
    margin-top: 8.5px;
}

.user2 {
    width: 2rem;
    display: flex;

}

.user2__avatar {
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;

}

.user2__avatarButton {
    width: 100%;
    height: 90%;
    background:#73a646;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;

}

.user2__menu {
    width: 70px;
    margin: 0 auto;
    display: none;
    position: absolute;
    background-color: #4c6744;
    font-size: 1rem;
    color: var(--primary);
    z-index: 1;
    border-radius: 16px;

}

.user2__menuOption {
    width: 70px;
    height: 60px;
    display: block;
    text-decoration: none;
    padding-top: 20px;
    background-color: #4c6744;
    color: var(--quintiary);
    border-radius: 12px;

}

.user2__avatar:hover+.user2__menu {
    top: 3rem;
    display: block;

}

.user2__menu:hover {
    display: block;
    top: 3rem;

}

.user2__menuOption:hover {
    font-weight: bold;

}

/* Idioma */
.language2 {
    width: 2rem;
    display: flex;

}

.language2__option {
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
    /* background-color: #201f1b; */

}

.language2__optionButton {
    width: 70%;
    height: 90%;
    background: #73a646;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
}


.language2__optionButton img {
    display: flex;
    margin-left: -26%;

}

.language2__menu {
    width: 50px;
    height: 110px;
    margin: 0 auto;
    /* margin-left: 0; */
    display: none;
    position: absolute;
    background: #4c6744;
    font-size: 1rem;
    color: var(--primary);
    z-index: 1;
    border-radius: 15px;
    /* box-shadow: 8px 9px 13px 0px rgba(244, 242, 242, 0.2); */

}

.language2__menuOption {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    display: block;
    text-decoration: none;
    /* background: #4c6744; */
    color: var(--primary);
    transition: transform 0.5s;

}

.language2__menuOption:hover {
    transform: scale(1.2);
    
}

.language2__option:hover+.language2__menu {
    top: 6.1rem;
    display: block;

}

.language2__menuOption img {
    width: 30px;

}

.language2__menu:hover {
    display: block;
    top: 6.1rem;

}

}